Repository abubkr-hago/star-wars-application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,css}": ["prettier --write"],
  "**/*.md": ["prettier --write", "markdownlint --fix"]
}

fix: ignore coverage folder
  .gitignore
Due: none

ci: init tests and pipelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  eslint.config.js
  package-lock.json
  package.json
  setupTests.ts
  src/components/Button.spec.tsx
  src/components/Button.tsx
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

docs: add licence file and issue templates
  .github/ISSUE_TEMPLATE/---1-report-an-issue.md
  .github/ISSUE_TEMPLATE/---2-feature-request.md
  .github/pull_request_template.md
  LICENSE
Due: prettier --write, markdownlint --fix

fix: apply prettier to all project
  .github/dependabot.yml
  .github/workflows/ci.yml
  package.json
  src/App.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

ci: fix release and deploy actions
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

ci: fix release permissions
  .github/workflows/release.yml
Due: none

fix: invalid testing-library/jest-dom import for vitest
  .github/workflows/ci.yml
  setupTests.ts
Due: eslint --fix, prettier --write

ci: fix failing deploy action
  .github/workflows/deploy.yml
Due: none

fix: assets not loading in github pages
  .env.example
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: assets not loading in github pages
  .env.example
  .github/workflows/deploy.yml
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: characters dashboard
  package-lock.json
  package.json
  src/App.tsx
  src/components/common/CharacterCard.tsx
  src/components/common/CharacterModal.tsx
  src/components/common/Error.tsx
  src/components/common/Loading.tsx
  src/components/common/LoadingModal.tsx
  src/components/common/index.ts
  src/components/index.ts
  src/config/constants.ts
  src/config/index.ts
  src/config/queryKeys.ts
  src/hooks/index.ts
  src/hooks/swHooks/index.ts
  src/hooks/swHooks/useCharacter.tsx
  src/hooks/swHooks/useCharacters.tsx
  src/hooks/swHooks/usePlanet.tsx
  src/hooks/swHooks/useSpecies.tsx
  src/hooks/swHooks/useSpeciesById.tsx
  src/hooks/useClickOutside.tsx
  src/index.css
  src/interfaces/index.ts
  src/interfaces/swapiClient.types.ts
  src/layouts/CharactersDashboard.tsx
  src/lib/tanstack-query.ts
  src/services/index.ts
  src/services/swapiClient.ts
  src/utils/format.ts
  src/utils/index.ts
  src/utils/utils.ts
  src/utils/validation.ts
Due: eslint --fix, prettier --write

test: CharactersDashboard
  src/layouts/CharactersDashboard.spec.tsx
  src/layouts/CharactersDashboard.tsx
Due: eslint --fix, prettier --write

refactor: bump app version to 1
  package.json
Due: prettier --write

fix: use a seed for different images
  src/layouts/CharactersDashboard.tsx
Due: eslint --fix, prettier --write
